In [181]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, MultinomialNB, ComplementNB
from pandas import DataFrame, read_csv
from pathlib import Path

In [182]:
news_df = read_csv(Path('../arquivos/BBAS3_cls.csv'), parse_dates=[4])

In [183]:
news_df.head()

,code,source,url,title,datetime,raw_text,prep_text,cls_influence
0,BBAS3,Infomoney,https://www.infomoney.com.br/mercados/ceo-do-b...,CEO do Banco do Brasil diz que houve falha de ...,2021-02-12 10:41:35+00:00,André Brandão (Foto: Marcelo Camargo/ Agência ...,andré brand fot marcel camarg agênc brasilreut...,0
1,BBAS3,Infomoney,https://www.infomoney.com.br/mercados/despesas...,Despesas permanecerão sob rigoroso controle ne...,2021-02-12 07:10:00+00:00,André Brandão (Foto: Marcelo Camargo/ Agência ...,andré brand fot marcel camarg agênc brasil pre...,0
2,BBAS3,Infomoney,https://www.infomoney.com.br/mercados/bradesco...,"Bradesco, Itaú, Santander ou Banco do Brasil: ...",2021-02-12 17:41:41+00:00,SÃO PAULO – A temporada de resultados do quart...,são paul a tempor result quart trimestr 2020 a...,0
3,BBAS3,Infomoney,https://www.infomoney.com.br/mercados/andre-br...,Ações do Banco do Brasil fecham em queda de 5%...,2021-01-13 18:11:02+00:00,"SÃO PAULO – As ações do Banco do Brasil (, R$ ...",são paul as açõ banc brasil r 3755 -494 fech q...,-1
4,BBAS3,Infomoney,https://www.infomoney.com.br/mercados/banco-do...,Banco do Brasil anuncia abertura de 14 novas a...,2021-02-03 13:55:00+00:00,Seguindo o planejamento de reestruturação orga...,segu planej reestrutur organizac anunci jan ba...,0

In [184]:
train, test, cls_train, cls_test = train_test_split(news_df['prep_text'], 
                                                    news_df['cls_influence'],
                                                    test_size = 0.1,
                                                    random_state = 42)

In [201]:
test

84     são paul o banc brasil divulg result operac re...
260    são paul o banc brasil envi seguint comunic me...
45     são paul a equip invest hsbc revis nest quinta...
176    são paul a spinell divulg cart recomend seman ...
143    bloomberg — a sociedad ub group banc brasil ba...
125    bloomberg — o ub bb investment bank joint vent...
227    são paul o exercíci opç sobr açõ moviment nest...
118    são paul a brad corre promov cinc alter cart t...
9      são paul em destaqu sess dest quinta-f invest ...
90     são paul destaqu nest quinta-f 13 açõ indústr ...
147    são paul com avent jorn desd prim notíc sobr a...
275    são paul o banc brasilcomeç aproxim iníci inte...
33     são paul na próx segunda-f 12 bmf bovesp lanç ...
281    são paul o banc brasil irá destin r 101 bilhã ...
221    são paul o banc brasil envi seguint comunic me...
77     são paul o banc brasil envi seguint fat releva...
46     são paul inp envi seguint comunicado inp sa bo...
5      são paul o banc brasil registr lucr líqu ajust...
231    são paul o tribun justiç est são paul conced s...
244    são paul o banc brasil envi seguint avis acion...
124    são paul a tam envi seguint comunic mercadofir...
238    são paul o banc brasil inform not nest segunda...
279    são paul a part próx dia 15 banc brasil reduzi...
101    com mov compr dól prevalec invest dev expect m...
75     são paul o banc noss caix envi seguint comunic...
271    são paul o banc brasil envi seguint avis acion...
274    são paul o banc brasil bnd banc nacion desenvo...
109    são paul a slw divulg segunda-f 20 cart recome...
60     são paul em entrev agênc notíc bloomberg cfo c...
202    são paul desd últ segunda-f 3 banc brasil disp...
Name: prep_text, dtype: object

In [186]:
tfidf = TfidfVectorizer(ngram_range=(1,2)
                        , max_df=0.5
                        , sublinear_tf=True
                        , max_features=20000)

In [187]:
tfidf_train = tfidf.fit_transform(train)
tfidf_test = tfidf.transform(test)

In [188]:
# df = DataFrame(tfidf_train.todense(), columns=tfidf.get_feature_names())
# df.loc[2].nlargest(50)
# print('')

In [205]:
print(test[:10])

84     são paul o banc brasil divulg result operac re...
260    são paul o banc brasil envi seguint comunic me...
45     são paul a equip invest hsbc revis nest quinta...
176    são paul a spinell divulg cart recomend seman ...
143    bloomberg — a sociedad ub group banc brasil ba...
125    bloomberg — o ub bb investment bank joint vent...
227    são paul o exercíci opç sobr açõ moviment nest...
118    são paul a brad corre promov cinc alter cart t...
9      são paul em destaqu sess dest quinta-f invest ...
90     são paul destaqu nest quinta-f 13 açõ indústr ...
Name: prep_text, dtype: object

In [196]:
model = MultinomialNB()
model.fit(tfidf_train, cls_train)

MultinomialNB()

In [198]:
model.predict(tfidf_test)

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 0, 0, 0], dtype=int64)

In [200]:
train_score = model.score(tfidf_train, cls_train)
test_score = model.score(tfidf_test, cls_test)
print('Train accuracy: ', train_score)
print('Test accuracy: ', test_score)

Train accuracy:  0.8022813688212928
Test accuracy:  0.5333333333333333

In [203]:
news_df['cls_influence'][238]

1